@model IEFI_SyO_Mascotas.Models.Animales

@{
    ViewBag.Title = "Detalles Animal";
}

<h2>Detalles del Animal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Animal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
